body {
    text-align: center; 
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlNF9waG90b19vZl9qYXBhbmRpX2tpdGNoZW5fcm9vbV9pbnRlcmlvcl93aXRoX2FfY19iMzY2ZTkxNC0zMjBhLTRjNjYtYTU0Ni05Zjc5NTEzZjE0MDhfMS5qcGc.jpg);
}

 .carousel-caption {
            color: #964B00

        }


